.styles.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: 250px;
	background-color: white;
	color: black;
	border-radius: 20px;
}

.bouton {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.delbouton {
	background-color: red
}

.modifybouton {
	background-color: blue
}

.checkbouton {
	background-color: green
}

.textContainer {
	
}